/*Color palette*/
h1{
    color: orange;
}

h2, h3{
    color: white;
}

.bg{
    background-color: #2E2E2E;
}

.link{
    color: #3c82bf;
    font-weight: bold;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

/*Common structures*/

.box{
    border-style: solid;
    border-width: 3px;
    margin-top: 5px;
}

/*Specific regions*/
.container{
    margin: 0;
    display: flex;
    height: 100%;
}

#header{
    margin: 0;
}

#header h2{
    margin-left: 10px;
}

#sidebar{
    width: 15%;
    
    height: auto;
    padding: 15px;
    vertical-align: middle;

    display: table-cell;
}

.sidebar_link{
    text-decoration: none;
    margin: 2px;
    display: block;
}

#viewer{
    margin-left: 5px;
    display: table-cell;
    width: 100%;
    vertical-align: top;
}

#title{
    text-align: center;
}

#footer{
    min-height: 20px;
}

.api_entry{
    margin: 5px;
}

.api_detail{
    font-weight: bold;
    margin: 3px;
    margin-bottom: 10px;
}

.api_detail span:first-child{
    color: #000080;
    background-color: grey;
    margin-right: 10px;
    display: block;
    padding-left: 5px;
}

.api_detail span{
    display: block;
}

.api_entry h3{
    font-weight: bolder;
}

.info_view{
    background: #CCCCCC;
    min-height: 50px;
    
}

.class_list a{
    text-decoration: none;
    font-size: large;
    display: block;
    font-weight: bold;
}

.region{
    border-bottom: 2px solid black;
    display: block;
    text-align: center;
    color:white;
    font-size: x-large;
    margin: 3px;
    margin-top: 25;
}

.detail_item{

}